<h3> <%= @itemquestion.item_type %> Inquiry</h3>

<h4>From:<%= @itemquestion.name %></h4>
<h4>Email:<%= @itemquestion.email %></h4>
<h3>Asking About: <%= @item.title %> </h3>
<p>Message: <%= @itemquestion.message %></p>


<p>Be Sure To Get Back To them SAND MAN!</p>
