<%= render "layouts/transparent" %>
<div class="contact_banner">
  <div class="col-md-12 centered">
    <div class="heeder">
      <h1>Contact</h1>
    </div>
  </div>
</div>
<div class="spacing"></div>
<div class="col-md-5">
  <div class="centered">
    <h3>Feel Free To Reach Out!</h3>
    <h5>When I'm not working Out in the field i'm checking emails</h5>
    <h5>Other Filler Text for da sandman</h5>
  </div>
</div>
<div class="container col-md-7">
  <div class="centered">
    <h2>Come Say Hey Whats Up Hello!</h2>
  </div>
  <%= bootstrap_form_for @contact do |c| %>
    <%= c.text_field :name, label:"Name" %>
    <%= c.text_field :subject, label:"Subject" %>
    <%= c.text_field :email, label:"email" %>
    <%= c.text_area :message, label:"Message" %>
    <%= c.submit class:"btn button-black" %>
  <% end %>
</div>
