<%= render "layouts/transparent" %>
<div class="contact_banner">
  <div class="col-md-12 centered">
    <div class="heeder">
      <h1>Contact</h1>
    </div>
  </div>
</div>
<div class="spacing"></div>
<div class="allTogether">

  <div class="col-md-5">
    <div class="centered">
      <br>
      <%= image_tag("saw_better.jpg", :alt => "rss feed", id:"contact_sandy") %>
    </div>
  </div>
  <div class="container col-md-7" id="">
    <div class="centered">
      <h3>When I'm Not Building, I'm Checking Emails</h3><hr>
    </div>
    <%= bootstrap_form_for @contact do |c| %>
      <%= c.text_field :name, label:"Name" %>
      <%= c.text_field :subject, label:"Subject" %>
      <%= c.text_field :email, label:"email" %>
      <%= c.text_area :message, label:"Message", rows:5 %>
      <div class="buttonz">
        <%= c.submit "Contact", class:"btn button-black btn-xl" %>
      </div>
    <% end %>
    <br><br>
  </div>
</div>
