
<div class="container ">

  <h2>Portfolio Posting</h2>
  <%= bootstrap_form_for @project do |f| %>
    <%= f.text_field :title, label:"Name Of Project" %>

    <%= f.text_area :description, label:"Description Of Project" %>

    <%= f.fields_for :pictures do |p| %>
      <%= p.file_field :pic, label:"Upload First Image Sandy!"%>
    <% end %>

    <%= f.submit class:"btn btn-primary" %>
  <% end %>
</div>
