  <%= render "layouts/show" %>
  <div class="BigMargin">


    <div class="col-md-12 container everythang">
      <%= render 'layouts/flash' %>
      <div class="col-md-7 centered">
        <% if @project.pictures.any? %>
          <%= image_tag @project.pictures.first.pic.url(:large), id:"mainPhoto", class:"imagine", width:'600px', height:"450px"; %>
          <div class="okay">
              <% @project.pictures.each do |picture| %>
                <% if current_user %>
                  <%= link_to (image_tag picture.pic.url(:thumb)), project_picture_path(@project, picture), data: {:confirm => "Are You Sure You Want To Delete Sandman?", :method => "delete"} %>
                <% else %>
                  <%= image_tag picture.pic.url(:thumb), class:"tnail imagine" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
      </div>
      <div class="col-md-5 borderpatrol" id="projectLink">
        <div class="centered">
          <h3><%= @project.title %></h3>
        </div>
        <div class="projectdescrip">
            <p> <strong>Description: </strong>  <%=  @project.description %> <p>
              <div class="centered" id="inquiiire">
                <%= link_to "Ask About This Project", new_project_itemquestion_path(@project), class: "btn button-black btn-xl", remote:true %>
              </div>
              <br>
        </div>
      </div>
  </div>
  <div class="col-md-12 centered">

  <% if current_user %>
    <% if current_user.admin? %>
      <br><br>
      <%= link_to "Add Photo", new_project_picture_path(@project), id:"linker", class:"btn button-black", remote:true %>
      <%= link_to "Edit Description", edit_project_path(@project), class: "btn button-black", remote:true %>
      <%= link_to "Delete Project", project_path(@project),
      data:{:confirm => "Are You Sure Sandman? This Is Gonna Delete All Images Associated With This Project!",
        :method => "delete"}, class:"btn button-black" %>
        <br>
        <p>Side Note For Da Sandman: Click the thumbnails when you are logged in to delete pictures</p>
    <% end %>
  <% end %>
  </div>

  <div class="col-md-12 formfo">
    <div id="contactoform"></div>
  </div>

      <script>
        $(".tnail").hover(function(){
          var src = $(this).attr("src");
          var lrc = src.replace("thumb", "large");
          $("#mainPhoto").attr("src",lrc);
        });
      </script>

      <div class="modal" id="modalYo">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title centered">Full Description</h3><hr>
              <div class="modal-body">
                <p><%= @project.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>







<!--

      <div class="col-md-5 project_description" id="projectLink">
        <div class="centered">
          <br>
          <h3><%= @project.title %></h3><hr>
        </div>
          <div class="big_image_border">
            <% if @project.description.length > 800 %>
            <div class="spacer">
              <div class="terst centered">
                <p> <%=  @project.description.first(800) %>   <button class="btn button-black" data-toggle="modal" data-target="#modalYo">Read More</button>  </p>
              </div>
            <% else %>
                <div class="centered">
                  <p><%= @project.description %> </p>
                </div>
            <% end %>
        </div>
        </div>
        <br>
        <div class="centered">
        </div>

    </div> -->
