  <div class="col-md-12 container everythang">

  <div class="col-md-7 centered">
      <%= image_tag @project.photos.first.pic.url(:large), id:"mainImage", class:"imagine", width:'600px', height:"450px"; %>
      <div class="centered">
        <% @project.photos.each do |photo| %>
        <% if current_user %>
        <%= link_to (image_tag photo.pic.url(:thumb)), project_photo_path(@project, photo), data: {:confirm => "Are You Sure You Want To Delete Sandman?", :method => "delete"} %>
        <% else %>
        <%= image_tag photo.pic.url(:thumb), class:"tnail imagine" %>
        <% end %>
        <% end %>
      </div>
  </div>
  <div class="col-md-5 project_description " id="projectLink">
    <div class="centered">
      <h3><%= @project.title %></h3><hr>
    </div>
    <% if @project.description.length > 800 %>
    <div class="big_image_border">
      <p> <%=  @project.description.first(800) %>[...]  </p><hr>
    </div>
    <% else %>
    <div class="big_image_border">
      <div class="spacer">
        <p> <%= @project.description %> </p><hr>
      </div>
    </div>
    <div class="centered">
      <button class="btn btn-primary " name="button">Send Inquiry</button>
    </div>
    <% end %>
    <% if current_user %>
      <%= link_to "Add Photo", new_project_photo_path(@project), id:"linker", class:"btn btn-default", remote:true %>
      <%= link_to "Edit Description", edit_project_path(@project), class: "btn btn-default", remote:true %>
      <%= link_to "Delete Project", project_path(@project),
                        data:{:confirm => "Are You Sure Sandman? This Is Gonna Delete All Images Associated With This Project!",
                        :method => "delete"}, class:"btn btn-default" %>
    <% end %>
  </div>
</div>

    <script>
      $(".tnail").hover(function(){
        var src = $(this).attr("src");
        var lrc = src.replace("thumb", "large");
        $("#mainImage").attr("src",lrc);
      });
    </script>
