
<div class="container ">

  <h2>Sale Posting</h2>
  <%= bootstrap_form_for @sale do |f| %>
    <%= f.text_field :title, label:"Name Of Item" %>

    <%= f.text_area :description, label:"Description Of Item" %>

    <%= f.text_area :material, label:"Materials" %>

    <%= f.text_field :dimension, label:"Dimensions" %>

    <%= f.text_field :price, label:"Price" %>


    <%= f.fields_for :pictures do |p| %>
      <%= p.file_field :pic, label:"Upload First Image Sandy!"%>
    <% end %>

    <%= f.submit class:"btn btn-primary" %>
  <% end %>
</div>
