<%= render "layouts/show" %>
  <div class="col-md-12 container everythang">
    <div class="col-md-7 centered george">
      <br><br>
        <%= image_tag @sale.images.first.pic.url(:large), id:"mainImage", class:"imagine", width:'600px', height:"450px"; %>
        <div class="okay">
          <% @sale.images.each do |image| %>
            <% if current_user %>
              <%= link_to (image_tag image.pic.url(:thumb)), sale_image_path(@sale, image), data: {:confirm => "Are You Sure You Want To Delete Sandman?", :method => "delete"} %>
            <% else %>
              <%= image_tag image.pic.url(:thumb), class:"tnail imagine" %>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="col-md-5 project_description" id="saleLink">
      <div class="centered">
        <br>
        <h3><%= @sale.title %></h3><hr>
      </div>
        <div class="big_image_border">
          <% if @sale.description.length > 500 %>
          <div class="spacer">
            <div class="terst">
              <p> <%=  @sale.description.first(500) %> <button class="btn btn-primary" data-toggle="modal" data-target="#modalGo">Read More</button></p>
            </div>
          <% else %>
              <div class="terst">
                <p><%= @sale.description %> </p>
              </div>
          <% end %>
          <div class="terst">
            <span class="labels"><p>Materials:</p></span> <p><%= @sale.material %></p>
          </div>
          <div class="terst">
            <span class="labels"><p>Dimensions:</p></span> <p><%= @sale.dimension %></p>
          </div>
          <div class="terst">
            <span class="labels"><p>Price:</p></span> <p><%= number_to_currency(@sale.price) %></p>
          </div>
      </div>
      </div>
      <br>
      <div class="centered">
        <%= link_to "Purchase Inquire", new_sale_salequestion_path(@sale), class: "btn btn-primary btn-xl", remote:true %>
      </div>
      <div id="pictureplace"></div>
    <% if current_user %>
    <br>
      <%= link_to "Add Photo", new_sale_image_path(@sale), id:"sinker", class:"btn btn-primary", remote:true %>
      <%= link_to "Edit Description", edit_sale_path(@sale), class: "btn btn-primary", remote:true %>
      <%= link_to "Delete Sale", sale_path(@sale),
                        data:{:confirm => "Are You Sure Sandman? This Is Gonna Delete All Images Associated With This Project!",
                        :method => "delete"}, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>


<div class="col-md-12">
  <div id="contactform"></div>
</div>






    <script>
      $(".tnail").hover(function(){
        var src = $(this).attr("src");
        var lrc = src.replace("thumb", "large");
        $("#mainImage").attr("src",lrc);
      });
    </script>

    <div class="modal" id="modalGo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title centered">Full Description</h3><hr>
            <div class="modal-body">
              <p><%= @sale.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
