<%= render "layouts/show" %>
  <div class="col-md-12 container everythang">
  <%= render 'layouts/flash' %>
    <div class="col-md-7 centered george">
        <%= image_tag @sale.pictures.first.pic.url(:large), id:"mainImage", class:"imagine", width:'600px', height:"450px"; %>
        <div class="okay">
          <% @sale.pictures.each do |picture| %>
            <% if current_user %>
              <%= link_to (image_tag picture.pic.url(:thumb)), sale_picture_path(@sale, picture), data: {:confirm => "Are You Sure You Want To Delete Sandman?", :method => "delete"} %>
            <% else %>
              <%= image_tag picture.pic.url(:thumb), class:"tnail imagine" %>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="col-md-5 borderpatrol" id="projectLink">
      <div class="centered">
        <br>
        <h3><%= @sale.title %></h3>
      </div>
        <div class="projectdescrip">

            <span class="labels"><p>Description:</p></span> <p> <%= @sale.description %> </p>
          </div>
            <div class="everyOther">
              <span class="labels"><p>Materials:</p></span> <p><%= @sale.material %></p>
            </div>
            <div class="projectdescrip">
              <span class="labels"><p>Dimensions:</p></span> <p><%= @sale.dimension %></p>
            </div>
            <div class="everyOther">
              <span class="labels"><p>Price:</p></span> <p><%= number_to_currency(@sale.price) %></p>
            </div>
      <br>
      <div class="centered" id="inquiire">
        <%= link_to "Request A Quote", new_sale_salequestion_path(@sale), class: "btn button-black", remote:true %>
      </div>
      <br>
      <div id="pictureplace"></div>
  </div>
</div>
<div class="col-md-12 centered">


<% if current_user %>
  <br>
  <%= link_to "Add Photo", new_sale_picture_path(@sale), id:"sinker", class:"btn button-black", remote:true %>
  <%= link_to "Edit Description", edit_sale_path(@sale), class: "btn button-black", remote:true %>
  <%= link_to "Delete Sale", sale_path(@sale),
  data:{:confirm => "Are You Sure Sandman? This Is Gonna Delete All Images Associated With This Project!",
    :method => "delete"}, class:"btn button-black" %>
    <% end %>
</div>

<div class="col-md-12">
  <div id="contactform"></div>
</div>






    <script>
      $(".tnail").hover(function(){
        var src = $(this).attr("src");
        var lrc = src.replace("thumb", "large");
        $("#mainImage").attr("src",lrc);
      });
    </script>

    <div class="modal" id="modalGo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title centered">Full Description</h3><hr>
            <div class="modal-body">
              <p><%= @sale.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
