  <div class="col-md-12 container everythang">

    <div class="col-md-7 centered">
      <br><br>
        <%= image_tag @sale.images.first.pic.url(:large), id:"mainImage", class:"imagine", width:'600px', height:"450px"; %>
        <div class="centered">
          <% @sale.images.each do |image| %>
            <% if current_user %>
              <%= link_to (image_tag image.pic.url(:thumb)), sale_image_path(@sale, image), data: {:confirm => "Are You Sure You Want To Delete Sandman?", :method => "delete"} %>
            <% else %>
              <%= image_tag image.pic.url(:thumb), class:"tnail imagine" %>
            <% end %>
          <% end %>
        </div>
    </div>


  <div class="col-md-5 project_description" id="saleLink">
    <div class="centered">
      <br>
      <h3><%= @sale.title %></h3><hr>
    </div>
      <div class="big_image_border">
        <% if @sale.description.length > 500 %>
        <div class="spacer centered">
          <p> <%=  @sale.description.first(500) %>[...]  </p>
        <% else %>
            <div class="terst">
              <p><%= @sale.description %> </p>
            </div>
        <% end %>
      <div class="centered">
        <div class="terst">
          <p><%= @sale.material %><p>
        </div>
        <div class="terst">
          <p><%= @sale.dimension %></p>
        </div>
        <div class="terst">
          <p><%= @sale.price %></p>
        </div>
      </div>
    </div>
    </div>
    <br>
    <div class="centered">
      <button class="btn btn-primary btn-xl">Send Inquiry</button>
    </div>
  </div>

    <% if current_user %>
      <%= link_to "Add Photo", new_sale_image_path(@sale), id:"sinker", class:"btn btn-default", remote:true %>
      <%= link_to "Edit Description", edit_sale_path(@sale), class: "btn btn-default", remote:true %>
      <%= link_to "Delete Sale", sale_path(@sale),
                        data:{:confirm => "Are You Sure Sandman? This Is Gonna Delete All Images Associated With This Project!",
                        :method => "delete"}, class:"btn btn-default" %>
    <% end %>
  </div>
</div>

    <script>
      $(".tnail").hover(function(){
        var src = $(this).attr("src");
        var lrc = src.replace("thumb", "large");
        $("#mainImage").attr("src",lrc);
      });
    </script>
