<!DOCTYPE html>
<html>
<head>
  <title>Huasna Wood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'creative/manifest.css', media: 'all' %>
  <%= javascript_include_tag 'creative/manifest.js' %>
  <link href='https://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= yield %>

</body>
<div class="foot">
  <footer class="footer"> &copy Huasna Wood 2016</strong>.</footer>
</div>


</html>
