<!DOCTYPE html>
<html>
<head>
  <title>SandyMatthewsOnlineStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'creative/manifest.css', media: 'all' %>
  <%= javascript_include_tag 'creative/manifest.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/travbar" %>
<%= yield %>

</body>
</html>
